<!-- Inline form https://v5.getbootstrap.com/docs/5.0/forms/layout/#inline-forms -->
<!-- prettier-ignore -->
<form
  class="row row-cols-md-auto g-3 align-items-center"
  autocomplete="off"
  role="form"
>
  <button
  mat-raised-button
    type="submit"
    class="btn btn-primary"
    (click)="onLogout()"
    *ngIf="(isLoggedIn$ | async) || init; else login"
  >
    <span class="me-1">Logout</span>
    <mat-icon class="md-48">chevron_right</mat-icon>
  </button>
</form>

<ng-template #login>
  <div class="col-12">
    <mat-form-field class="example-full-width">
      <mat-label for="usernameInput" class="col-form-label"
        ><small>Benutzername</small></mat-label
      >
      <input
        matInput
        id="usernameInput"
        type="search"
        class="form-control form-control-sm"
        tabindex="1"
        autocomplete="off"
        required
        [(ngModel)]="username"
        name="username"
      />
    </mat-form-field>
  </div>

  <div class="col-12">
    <mat-form-field class="example-full-width">
      <mat-label for="passwordInput" class="col-form-label"
        ><small>Passwort</small></mat-label
      >
      <input
        matInput
        id="passwordInput"
        type="password"
        class="form-control form-control-sm"
        tabindex="2"
        autocomplete="off"
        required
        [(ngModel)]="password"
        name="password"
      />
    </mat-form-field>
  </div>
  <div class="col-12">
    <button
      mat-raised-button
      type="submit"
      class="btn btn-primary btn-sm"
      tabindex="3"
      (click)="onLogin()"
    >
      Login
    </button>
  </div>
</ng-template>
