/* You can add global styles to this file, and also import other style files */
body {
  background-image: url('/assets/img/bg3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  min-height: 100%;
  //filter: blur(8px);
  //opacity: 0.7;
}

html,
body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  height: 100%;
  margin: 0;
}
